# Dependencies
node_modules/
client/node_modules/
server/node_modules/

# Environment Variables
.env
client/.env
server/.env

# Build outputs
dist/
build/

# OS / Editor files
.DS_Store
.vscode/

# Help files
repomix-output.xml

#prisma files that are not neccesery for me 
.agents/
.claude/
.cursor/
.devin/